/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "susyone";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 0.7em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;

.container {
    @include container;
}
 
@mixin clear{
    &:before, &:after{
        content: " ";
        display: table;
    }

    &:after{
        clear: both;
    }

    *zoom: 1;
}

body {
    background-color: #ffffff;
    color: #444;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 18px;
}

h1 {font-size: 2em;}
h2 {font-size: 1.6em;}
h3 {font-size: 1.4em;}
h4 {font-size: 1.2em;}

h1, h2, h3, h4 { 
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    line-height: 1.2em;
}

